<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Reservations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        .logoutLblPos{
            position:fixed;
            right:10px;
            top:5px;
        }
    </style>
</head>
<body>

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/routes">Routes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/reservations">Reservations<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
        </div>
        <label class="logoutLblPos">
            <a th:href="@{/login}">
                <button type="button" class="btn btn-outline-light">Log Out</button>
            </a>
        </label>
    </nav>

    <h2>Reservations</h2>
    <div th:if="${message}" class="alert alert-success" role="alert">
        <p th:text="${message}">succes message</p>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!--<th>Reservation id</th>-->
            <th>User</th>
            <th>Route start</th>
            <th>Route destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Reservead seats</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation:${reservations}">
            <!--<td th:text="${reservation.id}"></td>-->
            <td th:text="${reservation.user.name}"></td>
            <td th:text="${reservation.route.start}"></td>
            <td th:text="${reservation.route.destination}"></td>
            <td th:text="${reservation.route.date}"></td>
            <td th:text="${reservation.route.time}"></td>
            <td th:text="${reservation.reserveadSeats}"></td>

            <td><a th:href="@{/reservations/delete/} + ${reservation.id}">
                <button method="GET" action="deleteReservation" type="button" class="btn btn-danger">Delete</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>